<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="link-header">
        <a th:href="@{/topic/manager}">Management Topic</a>
    </div>
    <div class="link-header">
        <a th:href="@{/student/list}">Student</a>
    </div>
    <div class="link-header">
        <a th:href="@{/coordinator/list}">Marketing coordinator</a>
    </div>
    <div class="link-header">
        <a th:href="@{/faculty/list}">Faculty</a>
    </div>
    <div class="link-header">
        <a th:href="@{/guest/list}">Guest</a>
    </div>
</body>
</html>