<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0e8cd08e46.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

</head>
<body>
<div th:fragment="side-bar" class="side-bar">
    <div class="side-bar-content">
        <th:block sec:authorize="hasAuthority('MANAGER')">
            <th:block th:include="common/manager-navbar"></th:block>
        </th:block>
        <th:block sec:authorize="hasAuthority('STUDENT')">
            <th:block th:include="common/studentnavbar"></th:block>
        </th:block>
        <th:block sec:authorize="hasAuthority('COORDINATOR')">
            <th:block th:include="common/marketing-coordinator"></th:block>
        </th:block>
        <th:block sec:authorize="hasAuthority('ADMIN')">
            <th:block th:include="common/admin-nav"></th:block>
        </th:block>
        <th:block sec:authorize="hasAuthority('GUEST')">
            <th:block th:include="common/guestnavbar"></th:block>
        </th:block>
    </div>
</div>
</body>
</html>