<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common/link :: header-css"/>
</head>
<body>
<div th:replace="common/header :: header"/>
<div class="container-area">
    <div th:replace="common/side-bar :: side-bar"></div>
    <div class="container">
        <table class="table text-center bg-light">
            <tr class="thead-dark">
                <th>Faculty</th>
                <th>Coordinator</th>
                <th>Total Article</th>
                <th>Total article without comment</th>
                <th>Total article without comment after 14 days</th>
            </tr>
            <tr th:each="item:${faculties}">
                <td><a style="color: blue" th:href="@{'/article/exception-report/'+${item.id}}">[[${item.name}]]</a></td>
                <td>
                    <th:block th:each="coordinator:${item.coordinatorEntity}" th:text="${coordinator.email}"></th:block>
                </td>
                <td th:text="${item.totalArticle}"/>
                <td th:text="${item.totalArticleNoComment}"/>
                <td th:text="${item.totalArNoComAf14}"/>
            </tr>
        </table>
    </div>
</div>
<div th:replace="common/footer :: footer"/>

</body>
</html>