<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common/link :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/list-table.css}">
</head>
<body>
<div th:replace="common/header :: header"/>
<div class="container-area">
    <div th:replace="common/side-bar :: side-bar"></div>
    <div class="container-page">
        <div class="container-table">
            <h1>EXCEPTION REPORT</h1>
            <table class="table text-center bg-light" style="margin-top: 30px">
                <tr class="thead-dark">
                    <th>Faculty</th>
                    <th>Coordinator</th>
                    <th>Total Article</th>
                    <th>Total article without comment</th>
                    <th>Total article without comment after 14 days</th>
                </tr>
                <tr th:each="item:${faculties}" class="row-fal">
                    <td><a style="color: blue" class="name-fal" th:href="@{'/article/exception-report/'+${item.id}}">[[${item.name}]]</a></td>
                    <td>
                        <th:block th:each="coordinator:${item.coordinatorEntity}" th:text="${coordinator.email}"></th:block>
                    </td>
                    <td class="value-total" th:text="${item.totalArticle}"/>
                    <td class="value-rej" th:text="${item.totalArticleNoComment}"/>
                    <td class="value-sel" th:text="${item.totalArNoComAf14}"/>
                </tr>
            </table>
        </div>

        <div class="row" style="margin-top: 40px; margin-bottom: 80px">
            <div class="col-md-4">
                <div class="container-table">
                    <div style="text-align: center">
                        Total Articles
                    </div>
                    <div>
                        <div id="donut-example-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container-table">
                    <div style="text-align: center">
                        Aticles without Comment after 14 days
                    </div>
                    <div>
                        <div id="donut-example-3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container-table">
                    <div style="text-align: center">
                        Aticles without Comment
                    </div>
                    <div>
                        <div id="donut-example-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer :: footer"/>
<script th:src="@{/js/raphael.min.js}"></script>
<script th:src="@{/js/morris.js}"></script>

<script>
    function dataset(nameField) {
        let result = []
        let ele = $(nameField);
        for (i = 0; i < ele.length; i++) {
            result.push({
                label: $(ele[i]).closest('.row-fal').find('.name-fal').text(),
                value: $(ele[i]).text().split('%')[0]
            })
        }
        return result;
    }

    function random_color() {
        const randomColor = Math.floor(Math.random() * 16777215).toString(16);
        return result = '#' + randomColor;
    }

    function colorset() {
        let result = [];
        let ele = $('.row-fal');
        let color = '';
        for (i = 0; i < ele.length; i++) {
            do {
                color = random_color();
            } while (result.includes(color) || color == '#fffffff')
            result.push(color);
        }
        return result;
    }

    let color_set = ['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red'];

    function donutChart() {
        window.areaChart = Morris.Donut({
            element: 'donut-example-1',
            redraw: true,
            data: dataset('.value-total'),
            colors: color_set
        });
        window.areaChart = Morris.Donut({
            element: 'donut-example-2',
            redraw: true,
            data: dataset('.value-rej'),
            colors: color_set
        });
        window.areaChart = Morris.Donut({
            element: 'donut-example-3',
            redraw: true,
            data: dataset('.value-sel'),
            colors: color_set
        });
    }

    donutChart();

    $(window).resize(function () {
        $('#donut-example-1').html('')
        $('#donut-example-2').html('')
        $('#donut-example-3').html('')
        donutChart();
    })
</script>
</body>
</html>