<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common/link :: header-css"/>
    <link rel="stylesheet" th:href="@{'/css/adduser.css'}">
</head>
<body>
<div th:replace="common/header :: header"/>

<div class="container-area">
    <div th:replace="common/side-bar :: side-bar"></div>
    <div class="container">
        <div class="content-submit col-10">
            <h1>Edit Coordinator</h1>
            <form th:action="@{/coordinator/update}" class="row" th:method="POST" th:object="${coordinator}">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">ID</label>
                        <th:block th:if="${coordinator.id != null}">
                            <input type="text" class="form-control" th:field="*{id}" disabled>
                            <input type="hidden" th:field="*{id}">
                        </th:block>
                        <th:block th:if="${coordinator.id == null}">
                            <input type="text" class="form-control" th:field="*{id}">
                        </th:block>
                        <p class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" th:field="*{name}">
                        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <th:block th:if="${coordinator.email != null}">
                            <input type="text" class="form-control" th:field="*{email}" disabled>
                            <input type="hidden" th:field="*{email}">
                        </th:block>
                        <th:block th:if="${coordinator.email == null}">
                            <input type="text" class="form-control" th:field="*{email}">
                        </th:block>
                        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="">Date of Birth</label>
                        <input type="date" class="form-control" th:field="*{dob}">
                        <p class="error" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></p>
                    </div>

                    <div class="form-group">
                        <label for="">Phone</label>
                        <input type="number" class="form-control" th:field="*{phone}">
                        <p class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Faculty</label>
                        <select th:field="*{faculty}" class="custom-select">
                            <option th:each="fac:${faculties}" th:value="${fac.id}" th:text="${fac.name}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="">Address</label>
                    <input type="text" class="form-control" th:field="*{address}">
                    <p class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                </div>
                <input  type="submit" class="btn btn-primary col-3" value="Submit">
            </form>
        </div>
    </div>
</div>
<div th:replace="common/footer :: footer"/>
<script th:src="@{/js/adduser.js}"></script>
</body>
</html>