<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common/link :: header-css"/>
    <link rel="stylesheet" th:href="@{'/css/adduser.css'}">
</head>
<body>
<div th:replace="common/header :: header"/>
<div class="container-area">
    <div th:replace="common/side-bar :: side-bar"></div>
    <div class="container">
        <div class="content-submit col-10">
            <h1>Add a new Topic</h1>
            <div class="alert alert-warning" th:if="${message != null}">[[${message}]]</div>
            <form class="row" th:object="${topic}" th:action="@{/topic/save}" method="post">
                <div class="col-6">

                    <div class="form-group">
                        <label for="">Name</label>
                        <input class="form-control" type="text" th:field="*{name}" required/>
                        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Sub Name</label>
                        <input class="form-control" type="text" th:field="*{code}" required/>
                        <p class="error" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Closure Date</label>
                        <input type="date" class="form-control" th:field="*{deadline}">
                        <p class="error" th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Final Closure Date</label>
                        <input type="date" class="form-control" th:field="*{closeDate}">
                        <p class="error" th:if="${#fields.hasErrors('closeDate')}" th:errors="*{closeDate}"></p>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="">Description</label>
                    <textarea class="form-control" th:field="*{description}" style="width: 100%" rows="1"></textarea>
                </div>
                <div class=""><input class="btn btn-primary" type="submit" value="SUBMIT"></div>
            </form>
        </div>
    </div>
</div>
<div th:replace="common/footer :: footer"/>
<script th:src="@{/js/adduser.js}"></script>
</body>
</html>