<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common/link :: header-css"/>
</head>
<body>
<div th:replace="common/header :: header"/>
<div class="container">
<a th:href="@{/guest/edit}" class="btn btn-primary mb-4">New Guest</a>
<table class="table bg-light">
    <tr class="thead-dark">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Faculty</th>
        <th>Action</th>
    </tr>
    <tr th:each="item:${guests}">
        <td th:text="${item.id}"/>
        <td th:text="${item.name}"/>
        <td th:text="${item.email}"/>
        <td th:text="${item.faculty.name}"/>
        <td>
            <a class="btn btn-warning" th:href="@{'/guest/edit/'+${item.id}}">Edit</a>
            <a class="btn btn-danger" th:href="@{'/guest/delete/'+${item.id}}" onclick="if (!confirm('Are you sure to delete this guest')) return false">Delete</a>
        </td>
    </tr>
</table>
</div>
<div th:replace="common/footer :: footer"/>
</body>
</html>