<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common/link :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/post-report.css}">
</head>
<body>

<div th:replace="common/header :: header"/>
<div class="header-wrap">
    <div class="header-color"></div>
    <div class="header">
        <div class="content-header">
            <div class="first-content">
                <h1>Submit report for course GCH0714</h1>
                <p>It looks like you have completed the report and want to submit it now?<br>
                    Complete the steps below so your report can be viewed by a tutor.</p>
            </div>
            <div class="submit-button" id='go-to-submission-btn'>
                <span><a href="#submit-file-wrapper">Submit now! ▼</a></span>
            </div>
        </div>
        <div class="deadline-div row">
            <div class="col-lg-4 col-md-2 col-12"></div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-8 deadline-content">
                <div class="deadline-text">
                    <h3>Deadline</h3>
                </div>
                <div class="deadline-time">
                    <h3 id="days" th:text="${#dates.format(topicEntity.deadline,'dd')}"></h3>
                    <h3>/</h3>
                    <h3 id="hours" th:text="${#dates.format(topicEntity.deadline,'MM')}"/>
                    <h3>/</h3>
                    <h3 id="minutes" th:text="${#dates.format(topicEntity.deadline,'yyyy')}"/>
                </div>
                <div class="deadline-time">
                    <h5>Date</h5>
                    <h5>Month</h5>
                    <h5>Year</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-2 col-12"></div>
        </div>
    </div>
</div>
<div class="triagle"></div>
<div class="submit-file-wrapper" id='submit-file-wrapper'>
    <div class="file-submission-wrapper">
        <div class="file-submission-text">
            <h3>File Submission</h3>
        </div>

        <form th:action="@{/article/post/upload}" enctype="multipart/form-data" method="post" th:object="${article}">
            <div class="cover-hidden-submit-wrapper dp-none">
                <div class="hidden-submit-wrapper" id="info-form">
                    <div class="flex-div">
                        <div class="file-submission-text">
                            <h3>ADD YOUR ARTICLE HERE</h3>
                        </div>
                    </div>
                    <div class="input-title-wrapper">
                        <input type="text" th:field="*{title}" id="fileTitle" placeholder="Type Title here..."
                               required>
                    </div>
                    <div class="button-hide">
                        <label for="fileUpload" id="fileUploadLabel">
                            <p>Choose a PDF file</p>
                        </label>
                        <input type="file" name="fileUpload" id="fileUpload" class="inputfile" accept=".pdf"
                               required>
                    </div>
                    <div class="form-upload">
                        <label for="fileImage" id="fileImageLabel">
                            <p>Choose a Image</p>
                        </label>
                        <input type="file" name="fileImage" id="fileImage" class="inputfile img-inputfile"
                               accept=".png, .jpeg, .jpg"
                               required>
                        <div class="form-upload__preview"></div>
                        <input type="hidden" th:field="*{topic}">
                    </div>
                    <div class="submit-button-div">
                        <span id="insert-form-submit">Submit</span>
                    </div>
                </div>
            </div>
            <div class="submit-wrapper">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                            <path
                                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </span>
                <div class="formSubmit dp-none">
                    <div id="submitFileTitle"></div>
                    <div id="submitFileImage"></div>
                    <div id="submitFileUpload"></div>
                </div>
            </div>
            <div class="submit-button-wrapper">
                <div><input type="checkbox" required> Accepted
                    <div/>
                    <div class="submit-button-div">
                        <input type="submit" value="Submit">
                    </div>
                    <div class="cancel-button">
                        <input type="reset" value="Reset">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="common/footer :: footer"></div>
<script th:src="@{/js/validity.js}"></script>
<script th:src="@{/js/post-article.js}"></script>
</body>
</html>