<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common/link :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/management-report.css}">
</head>
<body>
<div th:replace="common/header :: header"/>
<div class="container-area">
    <div th:replace="common/side-bar::side-bar"/>
    <div class="container">
        <div class="rp-categories-wrapper" role="tablist">
            <ul class="nav nav-tabs tab-category" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#new-article" role="tab"
                       aria-controls="home" aria-selected="true" style="color: #495057">Accepted Article</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#disable-article" role="tab"
                       aria-controls="profile" aria-selected="false" style="color: #495057">Rejected Article</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="new-article" role="tabpanel" aria-labelledby="pills-new-tab">

                <table class="table bg-light text-center table-striped">
                    <tr class="thead-dark">
                        <th>Title</th>
                        <th>Topic</th>
                        <th>Student</th>

                    </tr>
                    <th:block th:if="${acceptedArticle.size() > 0}">
                        <tr th:each="item:${acceptedArticle}">
                            <td th:text="${item.title}"/>
                            <td th:text="${item.topic.name}"/>
                            <td th:text="${item.student.email}"/>

                        </tr>
                    </th:block>
                    <th:block th:if="${acceptedArticle.size() <= 0}">

                    </th:block>
                </table>


            </div>
            <div class="tab-pane fade" id="disable-article" role="tabpanel" aria-labelledby="pills-home-tab">
                <table class="table bg-light text-center table-striped">
                    <tr class="thead-dark">
                        <th>Title</th>
                        <th>Topic</th>
                        <th>Student</th>

                    </tr>
                    <th:block th:if="${rejectedArticle.size() > 0}">
                        <tr th:each="item:${rejectedArticle}">
                            <td th:text="${item.title}"/>
                            <td th:text="${item.topic.name}"/>
                            <td th:text="${item.student.email}"/>

                        </tr>
                    </th:block>
                    <th:block th:if="${rejectedArticle.size() <= 0}">

                    </th:block>
                </table>

            </div>

        </div>
    </div>
</div>
<div th:replace="common/footer :: footer"/>
</body>
</html>