.container {
    margin-top: 30px;
    margin-bottom: 100px;
}

.rp-categories-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
}

.title-tp {
    padding-left: 30px;
}

.tab-category {
    border: none;
    width: auto;
}

.tab-category li, .tab-category a {
    height: 100%;
}

.categories {
    display: flex;
}

.rp-show-wrapper {
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 30px 60px rgba(57,57,57,0.1);
}

.wrapper {
    display: flex;
}

.rp-img img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
}

.rp-discrible-wrapper {
    padding-left: 20px;
    width: 100%;
}

.discrible {
    width: 100%;
}

.author, .status {
    display: flex;
    justify-content: flex-start;
}

.author p, .status h4 {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.status h4 {
    color: red;
}

.rp-button {
    padding: 20px 0px;
    display: flex;
    position: relative;
}

.button {
    margin: 0px 10px;
}

.button:first-child {
    margin-left: 0px;
}

.button:last-child {
    margin-right: 0px;
}

.button a {
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #1DDDB4;
}

.button a:hover {
    color: white;
    background-color: #038f70;
}

.special {
    position: relative;
}

.special a {
    background-color: #dd531d;
}

.special a:hover {
    background-color: #8f2b03;
}

.grade {
    position: absolute;
    left: 100%;
    display: none;
}

#disable {
    top: 0px;
    transform: translate(10px, -75%);
}

#active {
    bottom: 0px;
    transform: translate(10px, 75%);
}

.grade a{
    background-color: #dadd1d;
}

.grade a:hover {
    background-color: #8f8603;
}

.input-cmt-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    border: solid 1px;
    padding: 0.25em 1em;
    margin: 5px;
    width: 80%;
    background-color: rgb(196, 196, 196);
    border: none;
    border-radius: 1.25rem;
    outline: none;
    width: 100%;
    padding: .375rem 1.25rem;
}

/*.input-sizer.stacked {*/
/*    padding: 10px 30px;*/
/*    align-items: stretch;*/
/*}*/

/*.input-sizer.stacked::after, .input-sizer.stacked input, .input-sizer.stacked textarea {*/
/*    grid-area: 2/1;*/
/*}*/

/*.input-sizer::after, .input-sizer textarea {*/
/*    width: auto;*/
/*    min-width: 1em;*/
/*    grid-area: 0.5;*/
/*    font: inherit;*/
/*    padding: 0.25em;*/
/*    margin: 0;*/
/*    resize: none;*/
/*    background: none;*/
/*    appearance: none;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

/*.input-sizer::after {*/
/*    content: attr(data-value) ' ';*/
/*    visibility: hidden;*/
/*    white-space: pre-wrap;*/
/*}*/

.button-tele {
    display: flex;
    align-items: center;
}

.button-tele button {
    border: none;
    background-color: #fff;
    outline: none;
}

.telegram {
    width: 32px;
    height: 32px;
    color: #1DDDB4;
    cursor: pointer;
    margin-left: 20px;
    position: relative;
}

.telegram:before {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.telegram:hover {
    color: #038f70;
}

.telegram:active {
    color: #1DDDB4;
    border-radius: 50%;
    box-shadow: 0 0 0 0.2rem rgba(77, 245, 209, 0.651);
}

.last-cmt-wrapper {
    margin-top: 20px;
}

.cmt-wrapper {
    margin-top: 10px;
}

.cmt {
    display: inline-block;
    background-color: rgb(196, 196, 196);
    border-radius: 15px;
    padding: 5px 10px;
}

@media only screen and (max-width: 1140px) {
    .rp-categories-wrapper {
        display: block;
    }
}

@media only screen and (max-width: 720px) {
    .wrapper {
        display: block;
    }
    .rp-img {
        text-align: center;
    }
    .rp-discrible-wrapper {
        padding-left: 0px;
    }
    .wrapper .title {
        text-align: center;
    }
}