* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

h3, h4, h5, p {
    margin: 0px;
}

p {
    font-weight: normal;
}

body {
    background-color: #f5f5f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a, .link-header input {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #495057;
}

.link-header input:hover {
    color: #495057;
}

.nav-header a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.container-area {
    display: flex;
    min-height: 100vh;
    margin-bottom: 150px;
}

.container {
    padding: 50px 0px;
}

.side-bar {
    /* position: fixed; */
    max-width: 200px;
    width: 100%;
    background-color: #212529;
    z-index: 200;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.side-bar-content {
    position: fixed;
    width: 200px;
    height: 100vh;
    z-index: 200;
    background-color: #212529;
}

.container-page {
    width: 100%;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.top-header {
    position: sticky;
    top: 0;
    background-color: #343a40;
    display: flex;
    height: 80px;
    /*box-shadow: 0px 4px 10px 0px;*/
    z-index: 210;
    width: 100%;
}

.nav-header {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.link-header {
    padding: 0 20px;
    text-align: center;
}

.cate-bar > div {
    cursor: pointer;
}

.link-header:first-child {
    width: 200px;
}

.link-header a, .link-header input {
    font-size: 25px;
}

.link-header.hamburger a {
    font-size: 45px;
}

.header .link:first-child {
    padding-left: 0px;
}

.acc {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.img-acc {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-acc img {
    height: 40px;
    border-radius: 50%;
}

.img-acc svg {
    position: absolute;
    bottom: 7px;
    color: white;
}

.img-acc:hover svg {
    animation: img 1s infinite;
}

.side-bar a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.side-bar button {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    padding: 0px;
    border: none;
    ourline: none;
}

.side-bar button:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline
}

.side-bar .link-header.active a {
    color: aliceblue;
}

.side-bar .link-header {
    display: none;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
}

.title-bar {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25)
}

.cate-bar {
    padding: 0rem 0.25rem 0.25rem 1rem;
}

.cate-bar-title {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
}

.cate-bar-title span {
    position: absolute;
    right: 0;
}

.cate-bar-title i {
    margin-right: 10px;
}

@keyframes img {
    0% {
        bottom: 7px;
    }
    50% {
        bottom: 5px;
    }
    100% {
        bottom: 3px;
    }
}

@media only screen and (max-width: 992px) {
    .side-bar {
        position: fixed;
    }
}