.container .btn-primary {
    margin-top: 15px;
    margin-bottom: 30px;
}

tr td, tr th {
    padding: 0.5rem !important;
}

.table {
    margin-bottom: 0px;
}

.container-table {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0px 30px;
}

.container-table>a {
    margin-top: 10px;
}

.table-area {
    overflow-x: scroll;
    margin-top: 30px
}

.table-area::-webkit-scrollbar {
    display: none;
}