.header-wrap {
    position: relative;
    margin-bottom: 160px;
}

.container-page {
    margin: 0px;
    margin-top: -30px;
}

.submit-wrapper, .header-bar, .header-bar-button, .img-acc, .account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-area, .header-color {
    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.header-area {
    background:linear-gradient(rgba(1,1,31,0.67), rgba(1,1,31,0.67)), url("https://www.click2houston.com/resizer/iDwVVd3hXTT53KUwAYxv2cOSuqo=/1600x1143/smart/filters:format(jpeg):strip_exif(true):strip_icc(true):no_upscale(true):quality(65)/cloudfront-us-east-1.images.arcpublishing.com/gmg/TGIVLLC3MBCLNBPNGQOWZB4UGQ.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
    height: 100%;
}

.header-color {
    background-image: url("https://www.click2houston.com/resizer/iDwVVd3hXTT53KUwAYxv2cOSuqo=/1600x1143/smart/filters:format(jpeg):strip_exif(true):strip_icc(true):no_upscale(true):quality(65)/cloudfront-us-east-1.images.arcpublishing.com/gmg/TGIVLLC3MBCLNBPNGQOWZB4UGQ.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    content: "";
}

#btn-des {
    font-size: 60px;
}

#des {
    margin-left: 50px;
    color: #1DDDB4;
    display: none;
}

.content-header {
    padding-left: 50px;
}

.first-content {
    margin-bottom: 30px;
}

.first-content h1, .first-content p {
    font-style: normal;
    font-weight: bold;
    margin: 30px 0 0 0;
}

.first-content h1 {
    font-size: 72px;
    line-height: 84px;
    color: #1DDDB4;
}

.first-content p {
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.submit-button span {
    padding: 8px 10px;
    display: inline-block;
    background-color: #1DDDB4;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
    color: white;
}

.deadline-div {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    color: white;
}

.deadline-content {
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 black;
}

.deadline-text h3 {
    margin: 0;
    text-align: center;
}

.deadline-time h3 {
    width: 50px;
}

.deadline-time h5 {
    width: 100px;
}

.deadline-time {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hide {
    text-align: center;
    background-color: rgba(129, 129, 129, 0.301);
}

.text-addrp {
}

.input-title {
}

.select-rp-button {
    display: inline-block;
}

p {
    margin: 0px;
}

.header-wrap::after {
    content: "";
    border: solid transparent;
    content: "";
    height: 0px;
    width: 0px;
    border-top-width: 80px;
    border-right-width: 0px;
    border-bottom-width: 80px;
    border-left-width: 100vw;
    border-left-color: #1DDDB4;
    /*bottom: -160px;*/
    right: 0px;
    position: absolute;
    z-index: -1;
}

.submit-file-wrapper {
    padding: 30px 50px;
    margin-bottom: 130px;
}

.file-submission-title {
    display: flex;
}

.file-submission-text {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
}

.flex-div, .input-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-title-wrapper {
    display: flex;
    justify-content: center;
}

.input-title-wrapper input {
    width: 80%;
    font-size: 18px;
}

.button-hide label:active, .form-upload label:active {
    border-radius: 15px;
    border: 1px solid #1DDDB4;
    box-shadow: 0 0 4px 2px #19ac8c;
}

.button-hide label, .form-upload label {
    margin: 0px;
    padding: 8px 8px;
    cursor: pointer;
}

.button-hide, .form-upload label {
    background-color: #1DDDB4;
    display: inline-block;
    margin: 5%;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 15px;
}

.file-submission-text h3 {
    margin: 0px;
    cursor: pointer;
}

.file-submission-text.active h3::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: black;
    transform: scale(1);
    transition: transform 1s;
    transform-origin: left center;
}

.file-submission-text h3:hover::after {
    transform: scale(0);
    transform-origin: right center;
}

.submit-wrapper {
    background-color: white;
    border: 3px solid #B2B2B2;
    border-radius: 0 30px 0 30px;
    padding: 15px;
    margin-bottom: 20px;
}



.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.submit-wrapper span {
    border: 2px solid #1DDDB4;
    padding: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

span svg {
    color: #1DDDB4;
    width: 100%;
    height: 100%;
}

.rp-show-wrapper-content {
    display: none;
}

.cover-hidden-submit-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(56, 56, 56, 0.815);
    z-index: 200;
}

.hidden-submit-wrapper {
    width: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #1DDDB4;
    box-shadow: 0px 0px 15px #1DDDB4;
    border-radius: 15px;
    padding: 30px 0px;
    z-index: 210;
}

.hidden-submit-wrapper input[type=text] {
    border: none;
    border-radius: 15px;
    background-color: #E0DDDD;
    padding: 5px 25px;
    outline: none;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus+label, .inputfile+label:hover {
    background-color: red;
}

.form-upload__preview {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 15px);
    margin-left: -7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-upload__title {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 9px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ff80b1;
    color: #ff257a;
    font-weight: 600;
    position: relative;
}

.form-upload__control {
    position: absolute;
    width: 0;
    height: 0;
}

.form-upload__item {
    width: 150px;
    margin: 0 7.5px;
}

.form-upload__item-thumbnail {
    padding-top: 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
}

.form-upload__item-name {
    word-break: break-all;
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
}

.submit-wrapper span:hover {
    border-color: #19ac8c;
}

.submit-wrapper span:hover svg {
    color: #19ac8c;
}

.submit-button-wrapper {
    display: flex;
    padding-left: 20px;
}

.submit-button-div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.submit-button-div input, .submit-button-div span {
    padding: 8px 10px;
    display: inline-block;
    background-color: #1DDDB4;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
    color: white;
    outline: none;
}

.cancel-button input {
    margin-top: 10px;
    padding: 8px 10px;
    color: white;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    outline: none;
    margin-left: 10px;
    border: 0px;
}

.dp-none {
    display: none;
}

.text-addrp h1 {
    margin: 0px;
}

.text-addrp hr {
    margin-top: 0px;
    border-top: 2px solid black;
}

#submitFileTitle {
    text-align: center;
    font-size: 32px;
    font-weight: bold
}

#submitFileUpload {
    text-align: center;
    font-size: 25px;
}

#submitFileImage {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:1200px) {
    .content-header {
        padding-left: 45px;
    }
    .header, .header-color {
        height: 500px;
    }
    .deadline-div {
        margin-top: 180px;
    }
    .first-content h1 {
        font-size: 60px;
        line-height: 72px;
    }
    .first-content p {
        font-size: 25px;
        line-height: 31px;
    }
}

@media only screen and (max-width: 1140px) {
    .button-hide, .form-upload, .submit-button-div, .input-title-wrapper input, .cancel-button {
        font-size: 15px;
    }

    .header-wrap {
        margin-bottom: 120px;
    }

    .header-wrap::after {
        border-top-width: 60px;
        border-bottom-width: 60px;
    }

    .file-submission-text h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width:990px) {
    .content-header {
        padding-left: 45px;
    }
    .first-content h1 {
        font-size: 50px;
        line-height: 62px;
    }
    .first-content p {
        font-size: 25px;
        line-height: 31px;
    }
}

@media only screen and (max-width: 960px) {
    .header-wrap {
        margin-bottom: 80px;
    }

    .header-wrap::after {
        border-top-width: 40px;
        border-bottom-width: 40px;
    }

    .file-submission-text h3::after {
        height: 1px;
    }
}

@media only screen and (max-width:840px) {
    .content-header {
        padding-left: 40px;
    }
    .header, .header-color {
        height: 400px;
    }
    .deadline-div {
        margin-top: 120px;
    }
    .first-content h1 {
        font-size: 40px;
        line-height: 52px;
    }
    .first-content p {
        font-size: 20px;
        line-height: 21px;
    }
    .deadline-text h3, .deadline-time h3 {
        font-size: 20px;
    }
    .deadline-time h5 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 720px) {
    .header-wrap {
        margin-bottom: 60px;
    }

    .header-wrap::after {
        border-top-width: 30px;
        border-bottom-width: 30px;
    }

    .file-submission-text h3 {
        font-size: 15px;
    }
}

@media only screen and (max-width:684px) {
    .content-header {
        padding-left: 40px;
    }
    .first-content h1 {
        font-size: 30px;
        line-height: 42px;
    }
    .first-content p {
        font-size: 15px;
        line-height: 16px;
    }
    .deadline-div {
        margin-top: 120px;
    }
    .submit-button {
        padding: 6px 8px;
        border-radius: 8px;
        font-size: 15px;
    }
}

@media only screen and (max-width:550px) {
    .content-header {
        padding-left: 35px;
    }
    .header, .header-color {
        height: 350px;
    }
    .first-content h1 {
        font-size: 20px;
        line-height: 32px;
    }
    .first-content p {
        font-size: 10px;
        line-height: 11px;
    }
    .deadline-div {
        margin-top: 100px;
    }
    .submit-button {
        padding: 6px 8px;
        border-radius: 8px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 540px) {
    .file-submission-text h3 {
        font-size: 12px;
    }
    .button-hide, .input-title-wrapper, .form-upload, .submit-button-div, .cancel-button {
        font-size: 10px;
    }
}